*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
header{
    height: 80px;
    background-color: #5B4CD8;
    box-sizing: border-box;
    padding-top: 20px;
}
a{
    text-decoration: none;
}
.header_h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.header_h1 span{
    font-size: 15px;
}
.misha_a{
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    transition: 0.5s;
}
.misha_a:hover{
    background-color: white;
    color: #5B4CD8;
    border-radius: 10px;
}
.misha_a:hover .header_h1{
    color: #5B4CD8;
}
.call_me:hover i{
    display: none;
}

.call_me:hover{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.call_me:hover:before{
    content: "+38 (098) 880 88 64";

}
.fa-phone{
    margin-top: 12px;
    color: white;
}
.main_sec{
    background-color: #a198f3;
    padding-top: 50px;
}
.text-block{
    width: 33%;
}
.text_h2{
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.text_p{
    color: black;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}
.main_sec img{
    height: 600px;
}
.text-block{
    margin-top: 150px;
}
.main_sec_button{
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    border: 3px white solid;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 10px;
}
.main_sec_button:hover{
    background-color: white;
    color: #5B4CD8;
}
.shop_sec{
    background-color: #e2dfff;
    padding-bottom: 50px;
}
.item_line{
    width: 100%;
    margin-bottom: 50px;
}
.item{
    width: 30%;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #bbb5f5;
    align-items: center;
}
.item img{
    width: 100%;
    margin-bottom: 10px;
}
.item h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}
.item h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}
.buy_button{
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 8px;
    background-color: #5B4CD8;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 3px;
    transition: 0.3s;
}
.buy_button:hover{
    transform: scale(1.08);
}
.name_of_sec{
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
    background-color: #5B4CD8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.show_all_button{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    height: 50px;
    border: 3px solid #5B4CD8;
    background-color: #5B4CD8;
    color: white;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
    box-sizing: border-box;
    padding-top: 12px;
}
.show_all_button:hover{
    background-color: #e2dfff;
    color: #5B4CD8;
}
.gallery{
    background-color: #958af5;
    padding-bottom: 50px;
}
.photo_line{
    width: 100%;
}
.photo_img{
    width: 30%;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: 0.5s;
}
.photo_img:hover{
    transform: scale(1.1);
}
.tag_item{
    margin-bottom: 50px;
    text-align: center;
    width: 30%;
}
.tag_item img{
    width: 100%;
}
.tag_p{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.bigboi_img:hover{
    transform: scale(1.05);
}
.big_boi{
    margin-bottom: 50px;
    text-align: center;
    width: 65%;
}
.footer_1_input{
    color: #3526af;
    padding: 10px;
    width: 100%;
    border: 1px solid #5B4CD8;
    border-radius: 8px;
    background-color: #cdc8f8;
    margin-bottom: 30px;
    box-sizing: border-box;
    outline: none;
}
.footer_1_input_2{
    color: #3526af;
    padding: 10px;
    width: 100%;
    border: 1px solid #5B4CD8;
    background-color: #cdc8f8;
    border-radius: 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
    outline: none;
    height: 150px;
}
.footer_1_button{
    width: 100%;
    background-color: #5B4CD8;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    border: 2px solid #5B4CD8;
    transition: 0.5s;
}
.footer_1_button:hover{
    color: #5B4CD8;
    background-color: white;
}
.email_h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.text_me img{
    width: 40%;
}
.email{
    padding-top: 30px;
}
textarea {
    resize: none;
    width: 100%;
}
footer{
    height: 50px;
    background-color: #5B4CD8;
}
.main_sec_ul li{
    list-style-type: none;
}
.after_main_graffiti {
    width: 100%;
    overflow: hidden;
}
.main_p{

}
.categories_of_items{
    background-color: #cdc8f8;
    padding-bottom: 25px;
}
.cat_item{
    width: 100%;
    padding: 10px;
    border: #3526af 3px solid;
    border-radius: 8px;
    background-color: white;
    box-shadow: 10px 5px 5px #958af5;
    transition: 1s;
    margin-bottom: 25px;
}

.cat_item:hover{
    transform: scale(0.95);
    box-shadow: 0 0 0 #958af5;
}

.cat_item img{
    width: 25%;
}
.tag_text_block{
    width: 50%;
}
.fhfh_h3{
    font-size: 28px;
    font-weight: bold;
    color: #3526af;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.tag_text_block .text_p{
    color: #535353;
}
.contact_me{
    padding-bottom: 80px;
}